<a href="https://colab.research.google.com/github/ericvillaceconomist/API-U.S.-Securities-and-Exchange-Commission-SEC-/blob/main/Projeto_API_SEC_Brasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# O objetivo deste projeto é coletar dados de empresas listadas nas bolsas de valores norte-americanas que siga o US-GAAP.

# Será gerado um método para automatizar e escalar a consulta 



Autor: Eric Villac, FMVA

In [ ]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [ ]:
!pip install fsspec
import pandas as pd
import requests
from urllib.request import urlopen, urlretrieve
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import Request
from urllib.error import URLError, HTTPError

Collecting fsspec
  Downloading fsspec-2021.7.0-py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 10.1 MB/s
Installing collected packages: fsspec
Successfully installed fsspec-2021.7.0

Site para consulta dos CIKs (site for query CIKs):

https://www.sec.gov/edgar/searchedgar/companysearch.html

https://www.sec.gov/Archives/edgar/cik-lookup-data.txt

# **MUITA ATENÇÃO!**

Caso as células não rodem:

1. Abrir o link url (logo abaixo);
2. rodar novamente o códgio.


Caso os métodos não rodem:

1. Abrir o link url (logo abaixo);
2. rodar novamente o código.

Nesse caso, se constar que a conta não existe, optar pela consulta da empresa com uma conta determinada.

# **PAY ATTENTION!**

If the cells do not rotate:

1. Open the url link (just below);
2. run the code again.


If the methods don't run:

1. Open the url link (just below);
2. run the code again.

In this case, if it appears that the account does not exist, choose to consult the company with a specific account.

# Testando o funcionamento do link. Nesse caso é bom abrir o link no navegador primeiro para testar e visualizar a abertura da API.

# Testing the link. In that case it's good to open the link in the browser first to test and preview the API opening.

Exemplo abaixo Exxon Mobil

![exxon-mobil.jpg]()

In [ ]:
url = 'https://data.sec.gov/api/xbrl/companyfacts/CIK0000034088.json'

In [ ]:
response = requests.get(url)
df = pd.read_json(response.text)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df1 = pd.DataFrame(df)
df1.head()

           cik  ...                                              facts
dei      34088  ...  {'EntityCommonStockSharesOutstanding': {'label...
us-gaap  34088  ...  {'AccountsAndFinancingReceivableAllowanceForCr...

[2 rows x 3 columns]

# **Cash flow Example**

In [ ]:
def Consult3Accounts(cik,s1,s2,s3):
  url = f'https://data.sec.gov/api/xbrl/companyfacts/CIK{cik}.json'
  response = requests.get(url)
  df = pd.read_json(response.text)
  empresa = df['entityName']['us-gaap']
  print(empresa)

  #Here, after naming accounts, they are put in a list, in order to iterate them.
  lista_entities = [s1,s2,s3]

  list_results, list_labels = [], []
  for entity in lista_entities:
    print(entity)
    label = df['facts']['us-gaap'][entity]['label']
    list_labels.append(label)
    print(label)
    df_model = pd.DataFrame(df['facts']['us-gaap'][entity]['units']['USD'])
    # We are going to filter and extract the columns of interest
    df_model.loc[df_model['form'] == '10-K',['end','filed','val']]

    result_tmp = df_model.loc[df_model['form'] == '10-K',['end','val']].set_index('end').copy()
    result_tmp = result_tmp.rename({'val': label}, axis=1)
    list_results.append(result_tmp)
    print("===")

#Finally, we get a .xlsx (excel) to work in case we want to model data
  df_final = pd.concat(list_results, axis=1)
  df_final.to_excel(f'{empresa}.xlsx')
  print(df_final)

In [ ]:
Consult3Accounts('0000034088','NetCashProvidedByUsedInOperatingActivities','NetCashProvidedByUsedInInvestingActivities','NetCashProvidedByUsedInFinancingActivities')

Exxon Mobil Corporation
NetCashProvidedByUsedInOperatingActivities
Net Cash Provided by (Used in) Operating Activities
===
NetCashProvidedByUsedInInvestingActivities
Net Cash Provided by (Used in) Investing Activities
===
NetCashProvidedByUsedInFinancingActivities
Net Cash Provided by (Used in) Financing Activities
===
            Net Cash Provided by (Used in) Operating Activities  ...  Net Cash Provided by (Used in) Financing Activities
end                                                              ...
2007-12-31                                        52002000000    ...                                       -38345000000
2008-12-31                                        59725000000    ...                                       -44027000000
2008-12-31                                        59725000000    ...                                       -44027000000
2009-12-31                                        28438000000    ...                                       -27283000000
2009-12-31                                        28438000000    ...                                       -27283000000
2009-12-31                                        28438000000    ...                                       -27283000000
2010-12-31                                        48413000000    ...                                       -26924000000
2010-12-31                                        48413000000    ...                                       -26924000000
2010-12-31                                        48413000000    ...                                       -26924000000
2011-12-31                                        55345000000    ...                                       -28256000000
2011-12-31                                        55345000000    ...                                       -28256000000
2012-12-31                                        56170000000    ...                                       -33868000000
2015-12-31                                        30344000000    ...                                        -7037000000
2016-12-31                                        22082000000    ...                                        -9293000000
2016-12-31                                        22082000000    ...                                        -9293000000
2017-12-31                                        30066000000    ...                                       -15130000000
2017-12-31                                        30066000000    ...                                       -15130000000
2017-12-31                                        30066000000    ...                                       -15130000000
2018-12-31                                        36014000000    ...                                       -19446000000
2018-12-31                                        36014000000    ...                                       -19446000000
2018-12-31                                        36014000000    ...                                       -19446000000
2019-12-31                                        29716000000    ...                                        -6618000000
2019-12-31                                        29716000000    ...                                        -6618000000
2020-12-31                                        14668000000    ...                                         5285000000

[24 rows x 3 columns]

In [ ]:
Consult3Accounts('0000789019','NetCashProvidedByUsedInOperatingActivities','NetCashProvidedByUsedInInvestingActivities','NetCashProvidedByUsedInFinancingActivities')

MICROSOFT CORPORATION
NetCashProvidedByUsedInOperatingActivities
Net Cash Provided by (Used in) Operating Activities
===
NetCashProvidedByUsedInInvestingActivities
Net Cash Provided by (Used in) Investing Activities
===
NetCashProvidedByUsedInFinancingActivities
Net Cash Provided by (Used in) Financing Activities
===
            Net Cash Provided by (Used in) Operating Activities  ...  Net Cash Provided by (Used in) Financing Activities
end                                                              ...
2008-06-30                                        21612000000    ...                                       -12934000000
2009-06-30                                        19037000000    ...                                        -7463000000
2009-06-30                                        19037000000    ...                                        -7463000000
2010-06-30                                        24073000000    ...                                       -13291000000
2010-06-30                                        24073000000    ...                                       -13291000000
2010-06-30                                        24073000000    ...                                       -13291000000
2011-06-30                                        26994000000    ...                                        -8376000000
2011-06-30                                        26994000000    ...                                        -8376000000
2011-06-30                                        26994000000    ...                                        -8376000000
2012-06-30                                        31626000000    ...                                        -9408000000
2012-06-30                                        31626000000    ...                                        -9408000000
2013-06-30                                        28833000000    ...                                        -8148000000
2016-06-30                                        33325000000    ...                                        -8393000000
2017-06-30                                        39507000000    ...                                         8408000000
2017-06-30                                        39507000000    ...                                         8408000000
2018-06-30                                        43884000000    ...                                       -33590000000
2018-06-30                                        43884000000    ...                                       -33590000000
2018-06-30                                        43884000000    ...                                       -33590000000
2019-06-30                                        52185000000    ...                                       -36887000000
2019-06-30                                        52185000000    ...                                       -36887000000
2019-06-30                                        52185000000    ...                                       -36887000000
2020-06-30                                        60675000000    ...                                       -46031000000
2020-06-30                                        60675000000    ...                                       -46031000000
2021-06-30                                        76740000000    ...                                       -48486000000

[24 rows x 3 columns]

In [ ]:
Consult3Accounts('0000093410','NetCashProvidedByUsedInOperatingActivities','NetCashProvidedByUsedInInvestingActivities','NetCashProvidedByUsedInFinancingActivities')

Chevron Corp
NetCashProvidedByUsedInOperatingActivities
Net Cash Provided by (Used in) Operating Activities
===
NetCashProvidedByUsedInInvestingActivities
Net Cash Provided by (Used in) Investing Activities
===
NetCashProvidedByUsedInFinancingActivities
Net Cash Provided by (Used in) Financing Activities
===
            Net Cash Provided by (Used in) Operating Activities  ...  Net Cash Provided by (Used in) Financing Activities
end                                                              ...
2007-12-31                                        24977000000    ...                                       -14295000000
2008-12-31                                        29632000000    ...                                       -10400000000
2008-12-31                                        29632000000    ...                                       -10400000000
2009-12-31                                        19373000000    ...                                        -3546000000
2009-12-31                                        19373000000    ...                                        -3546000000
2009-12-31                                        19373000000    ...                                        -3546000000
2010-12-31                                        31359000000    ...                                        -5170000000
2010-12-31                                        31359000000    ...                                        -5170000000
2010-12-31                                        31354000000    ...                                        -5165000000
2011-12-31                                        41098000000    ...                                       -11772000000
2011-12-31                                        41095000000    ...                                       -11769000000
2011-12-31                                        41095000000    ...                                       -11769000000
2012-12-31                                        38812000000    ...                                        -8980000000
2012-12-31                                        38812000000    ...                                        -8980000000
2012-12-31                                        38812000000    ...                                        -8980000000
2013-12-31                                        35002000000    ...                                        -3821000000
2013-12-31                                        35002000000    ...                                        -3821000000
2013-12-31                                        35002000000    ...                                        -3821000000
2014-12-31                                        31475000000    ...                                        -4999000000
2014-12-31                                        31475000000    ...                                        -4999000000
2014-12-31                                        31475000000    ...                                        -4999000000
2015-12-31                                        19456000000    ...                                         2815000000
2015-12-31                                        19456000000    ...                                         2815000000
2015-12-31                                        19456000000    ...                                         2815000000
2016-12-31                                        12846000000    ...                                           25000000
2016-12-31                                        12846000000    ...                                           25000000
2016-12-31                                        12690000000    ...                                           25000000
2017-12-31                                        20515000000    ...                                       -14554000000
2017-12-31                                        20338000000    ...                                       -14554000000
2017-12-31                                        20338000000    ...                                       -14554000000
2018-12-31                                        30618000000    ...                                       -13699000000
2018-12-31                                        30618000000    ...                                       -13699000000
2018-12-31                                        30618000000    ...                                       -13699000000
2019-12-31                                        27314000000    ...                                       -19758000000
2019-12-31                                        27314000000    ...                                       -19758000000
2020-12-31                                        10577000000    ...                                        -3736000000

[36 rows x 3 columns]

In [ ]:
Consult3Accounts('0000936468','NetCashProvidedByUsedInOperatingActivities','NetCashProvidedByUsedInInvestingActivities','NetCashProvidedByUsedInFinancingActivities')

LOCKHEED MARTIN CORPORATION
NetCashProvidedByUsedInOperatingActivities
Net Cash Provided by (Used in) Operating Activities
===
NetCashProvidedByUsedInInvestingActivities
Net Cash Provided by (Used in) Investing Activities
===
NetCashProvidedByUsedInFinancingActivities
Net Cash Provided by (Used in) Financing Activities
===
            Net Cash Provided by (Used in) Operating Activities  ...  Net Cash Provided by (Used in) Financing Activities
end                                                              ...
2007-12-31                                         4238000000    ...                                        -2300000000
2008-12-31                                         4421000000    ...                                        -3938000000
2008-12-31                                         4421000000    ...                                        -3938000000
2009-12-31                                         3173000000    ...                                        -1476000000
2009-12-31                                         3173000000    ...                                        -1476000000
2009-12-31                                         3487000000    ...                                        -1432000000
2010-12-31                                         3547000000    ...                                        -3363000000
2010-12-31                                         3801000000    ...                                        -3358000000
2010-12-31                                         3801000000    ...                                        -3358000000
2011-12-31                                         4253000000    ...                                        -2119000000
2011-12-31                                         4253000000    ...                                        -2119000000
2011-12-31                                         4253000000    ...                                        -2144000000
2012-12-31                                         1561000000    ...                                        -2023000000
2012-12-31                                         1561000000    ...                                        -2068000000
2012-12-31                                         1561000000    ...                                        -2068000000
2013-12-31                                         4546000000    ...                                        -2706000000
2013-12-31                                         4546000000    ...                                        -2706000000
2013-12-31                                         4546000000    ...                                        -2706000000
2014-12-31                                         3866000000    ...                                        -3314000000
2014-12-31                                         3866000000    ...                                        -3314000000
2014-12-31                                         3866000000    ...                                        -3314000000
2015-12-31                                         5101000000    ...                                         4277000000
2015-12-31                                         5101000000    ...                                         4277000000
2015-12-31                                         5101000000    ...                                         4277000000
2016-12-31                                         5189000000    ...                                        -3457000000
2016-12-31                                         5189000000    ...                                        -3457000000
2016-12-31                                         5189000000    ...                                        -3457000000
2017-12-31                                         6476000000    ...                                        -4305000000
2017-12-31                                         6476000000    ...                                        -4305000000
2017-12-31                                         6476000000    ...                                        -4305000000
2018-12-31                                         3138000000    ...                                        -4152000000
2018-12-31                                         3138000000    ...                                        -4152000000
2018-12-31                                         3138000000    ...                                        -4152000000
2019-12-31                                         7311000000    ...                                        -5328000000
2019-12-31                                         7311000000    ...                                        -5328000000
2020-12-31                                         8183000000    ...                                        -4527000000

[36 rows x 3 columns]

# **Income Statement, equivalent to DRE in Brazil**

The method below is not useful if you want to scalate for "n" accounts, however fill the gap in case that you want to choose each account in json, and the general method does not correspond to it.

The example consider some accounts of the Income Statement (DRE in Brazil)

# Método DRE

In [ ]:
def dre_empresa(cik):
  url = f'https://data.sec.gov/api/xbrl/companyfacts/CIK{cik}.json'
  response = requests.get(url)
  df = pd.read_json(response.text)
  empresa = df['entityName']['us-gaap']


    #pegando DRE

  #1. PRIMEIRO
  data1 = []
  data2 = []
  data3 = []

  nome1 = df['facts']['us-gaap']['Revenues']['label']

  for i in df['facts']['us-gaap']['Revenues']['units']['USD']:
    if i['form']== '10-K':
      data1.append(i['end'])
      data2.append(i['filed']) 
      data3.append(i['val']) 
  
    else:
      pass

  data1 = pd.DataFrame(data1)
  data1.columns =['Data end']
  data11 = data1.drop_duplicates(subset='Data end', keep='first')

  data3 = pd.DataFrame(data3)
  data3.columns =[nome1]
  data33 = data3.drop_duplicates(subset=nome1, keep='first')

  result1 = pd.concat([data11, data33], axis=1)

  #2. SEGUNDO



  data10 = []
  data11 = []
  data12 = []

  nome4 = df['facts']['us-gaap']['InterestExpense']['label']


  for i in df['facts']['us-gaap']['InterestExpense']['units']['USD']:
    if i['form']== '10-K':
      data10.append(i['end'])
      data11.append(i['filed']) 
      data12.append(i['val']) 
  
    else:
      pass

  data10 = pd.DataFrame(data10)
  data10.columns =['Data end']
  data100 = data10.drop_duplicates(subset='Data end', keep='first')

  data12 = pd.DataFrame(data12)
  data12.columns =[nome4]
  data122 = data12.drop_duplicates(subset=nome4, keep='first')

  result4 = pd.concat([data100, data122], axis=1)

  #3. TERCEIRO


  data13 = []
  data14 = []
  data15 = []

  nome5 = df['facts']['us-gaap']['IncomeTaxesPaidNet']['label']


  for i in df['facts']['us-gaap']['IncomeTaxesPaidNet']['units']['USD']:
    if i['form']== '10-K':
      data13.append(i['end'])
      data14.append(i['filed']) 
      data15.append(i['val']) 
  
    else:
      pass

  data13 = pd.DataFrame(data13)
  data13.columns =['Data end']
  data133 = data13.drop_duplicates(subset='Data end', keep='first')

  data15 = pd.DataFrame(data15)
  data15.columns =[nome5]
  data155 = data15.drop_duplicates(subset=nome5, keep='first')

  result5 = pd.concat([data133, data155], axis=1)

  #4. QUARTO

  data16 = []
  data17 = []
  data18 = []

  nome6 = df['facts']['us-gaap']['NetIncomeLoss']['label']


  for i in df['facts']['us-gaap']['NetIncomeLoss']['units']['USD']:
    if i['form']== '10-K':
      data16.append(i['end'])
      data17.append(i['filed']) 
      data18.append(i['val']) 
  
    else:
      pass

  data16 = pd.DataFrame(data16)
  data16.columns =['Data end']
  data166 = data16.drop_duplicates(subset='Data end', keep='first')

  data18 = pd.DataFrame(data18)
  data18.columns =[nome6]
  data188 = data18.drop_duplicates(subset=nome6, keep='first')

  result6 = pd.concat([data166, data188], axis=1)

  dfmerge2 = result1.merge(result4,on='Data end').merge(result5,on='Data end').merge(result6,on='Data end')
  dft2 = dfmerge2.transpose()

  dft2.to_excel(f'{empresa}-dre.xlsx')

  with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(dft2.head())

In [ ]:
dre_empresa('0000034088')

                                                    0             1   \
Data end                                    2009-12-31    2010-12-31
Revenues                                  301500000000  370125000000
Interest Expense                             548000000     259000000
Income Taxes Paid, Net                     15427000000   18941000000
Net Income (Loss) Attributable to Parent   19280000000   30460000000

                                                    2             3   \
Data end                                    2011-12-31    2012-12-31
Revenues                                  467029000000  453123000000
Interest Expense                             247000000     327000000
Income Taxes Paid, Net                     27254000000   24349000000
Net Income (Loss) Attributable to Parent   41060000000   44880000000

                                                    4             5   \
Data end                                    2013-12-31    2014-12-31
Revenues                                  420836000000  394105000000
Interest Expense                               9000000     286000000
Income Taxes Paid, Net                     25066000000   18085000000
Net Income (Loss) Attributable to Parent   32580000000   32520000000

                                                    6             7   \
Data end                                    2015-12-31    2016-12-31
Revenues                                  259488000000  218608000000
Interest Expense                             311000000     453000000
Income Taxes Paid, Net                      7269000000    4214000000
Net Income (Loss) Attributable to Parent   16150000000    7840000000

                                                    8             9   \
Data end                                    2017-12-31    2018-12-31
Revenues                                  237162000000  279332000000
Interest Expense                             601000000     766000000
Income Taxes Paid, Net                      7510000000    9294000000
Net Income (Loss) Attributable to Parent   19710000000   20840000000

                                                    10            11
Data end                                    2019-12-31    2020-12-31
Revenues                                  264938000000  181502000000
Interest Expense                             830000000    1158000000
Income Taxes Paid, Net                      7018000000    2428000000
Net Income (Loss) Attributable to Parent   14340000000  -22440000000

Este projeto teve contribuição de Glauco Azevedo.